# Python
.venv/
__pycache__/
*.pyc

# Dataset
Data/

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/
# Model checkpoints
outputs/models/

# Training logs
outputs/logs/

# Prediction outputs
outputs/predictions/

# Keep graphs
!outputs/graphs/
!outputs/graphs/*.png