# ===============================
# Dataset
# ===============================

Data/

# ===============================
# Python
# ===============================

__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environment
# ===============================

.venv/
venv/
env/

# ===============================
# Jupyter
# ===============================

.ipynb_checkpoints/

# ===============================
# Model Checkpoints
# ===============================

outputs/models/

# ===============================
# Training Logs
# ===============================

outputs/logs/

# ===============================
# Prediction Outputs
# ===============================

outputs/predictions/

# ===============================
# Keep Graphs
# ===============================

!outputs/graphs/
!outputs/graphs/*.png